 <h1>My tasks</h1>

 <% @tasks.each do |task| %>
    <div>
      <input type="checkbox" name="Done?" id="None" <%= "checked" if task.completed %>>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "ðŸ—‘ï¸", task_path(task), data: { turbo_method: :delete, turbo_confirm: "Remove #{task.title}?" } %>
    </div>
  <% end %>

  <%= link_to "new task", new_task_path %>
